@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), 
       local('Roboto-Regular'), 
       url(http://themes.googleusercontent.com/static/fonts/roboto/v11/2UX7WLTfW3W8TclTUvlFyQ.woff) format('woff');
}
::-webkit-scrollbar { 
    display: none; 
}

* {
    font-family: 'Roboto', sans-serif;
    font: 12px/14px sans-serif;

}
#input_outer{
    width:100%;
    background-color:#66aabb;
}
#recipe_outer{
    width:100%;
    display:inline-block;
    background-color:#272c30;
    margin:0px;
    float:right;
    color:#FFF;
}

#input_ingredients {
    margin:0px;
    height:50px;
    width:100%;
}
#buttons, #errors, #content{
    display:flex;
    -webkit-box-direction:normal;
    -webkit-box-orient: horizontal;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;   
}
#buttons {
    padding:5 0 0 0px;
}

#recipe_wrap{
    margin:5px;
    padding:5px;
    background-color:#66aabb;
}

#recipe_name,#recipe_ingredients,#recipe_directions {
    padding: 5 0 5 0px;
}
#recipe_name,#recipe_ingredients {
    border-bottom:5px solid #272c30;
}

#bad_input, #bad_match{
    width:auto;
    margin:0 5 5 5px;
    background-color:#b7416e;
    color:#FFF;
    padding:5px;
    text-align:center;
}
input {
    text-align:center;
    margin:0px;
    padding:0px;
    top:0px;
    background-color:#272c30;
    color:#FFF;
    border:0px;
}
button{
    background-color:#b7416e;
    border:0px;
    padding:5px;
    margin:0 2.5 5 2.5px;
    height:50px;
    width:75px;
    color:#FFF;
}
a:link,a:visited,a:active,a:hover {
    color:#FFF;
    text-decoration: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
