@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), 
       local('Roboto-Regular'), 
       url(http://themes.googleusercontent.com/static/fonts/roboto/v11/2UX7WLTfW3W8TclTUvlFyQ.woff) format('woff');
}

* {
    font-family: 'Roboto', sans-serif;
    font: 12px/14px sans-serif;

}
#input_outer{
    width:100%;
    display:inline-block;
    background-color:#66aabb;
}
#recipe_outer{
    width:100%;
    display:inline-block;
    background-color:#272c30;
    margin:0px;
    float:right;
    color:#FFF;
}
.center {
    margin-left:auto;
    margin-right:auto;
    width:100%;
}

#input_ingredients {
    margin:0px;
    height:50px;
    width:100%;
}
#buttons{
    width: 437px;    
}
#recipe_wrap{
    margin:10px;
    padding:10px;
    background-color:#66aabb;
}
#recipe_name{
    border-bottom: 5px solid #272c30;
    padding:5px 0px 5px 0px;
}
#recipe_ingredients{
    border-bottom: 5px solid #272c30;
    padding:5px 0px 5px 0px;
}
#recipe_directions{
    padding:5px 0px 5px 0px; 

}

#bad_input, #bad_match{
    margin:0px 10px 10px 10px;
    background-color:#b7416e;
    color:#FFF;
    padding:5px;
    text-align:center;
}
input {
    text-align:center;
    margin:0px;
    padding:0px;
    top:0px;
    background-color:#272c30;
    color:#FFF;
    border:0px;
}
button{
    background-color:#b7416e;
    border:0px;
    padding:5px;
    margin:10px 0px 10px 10px;
    height:50px;
    width:75px;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    color:#FFF;
    display:inline-block;
}
a:link,a:visited,a:active,a:hover {
    color:#FFF;
    text-decoration: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
